<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dk.sniarn.alfred-pricerunner-workflow</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>57BA1516-04D8-43C9-A7CA-929429209189</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF06F70B-1D38-4A57-B515-482BC3337549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF06F70B-1D38-4A57-B515-482BC3337549</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD89044F-8F84-4579-9463-3CD505283EF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E013FBEE-2A1E-42EC-A184-BBA2AD5E16E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE0B3228-6B51-4547-A345-BB841D284921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB1C4AE6-40B0-48A3-8811-40B16DCE5828</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD89044F-8F84-4579-9463-3CD505283EF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD3B5EB1-D80B-408D-A27A-D00799117DF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE0B3228-6B51-4547-A345-BB841D284921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBBB65E8-9A1F-449F-BC1F-E06B61A40722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E013FBEE-2A1E-42EC-A184-BBA2AD5E16E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63BCE9EA-6193-4ADE-8C0C-B38D2FBB80A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martin Lund Kristiansen</string>
	<key>description</key>
	<string>Look up prices with PriceRunner</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PriceRunner</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.pricerunner.com{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CD3B5EB1-D80B-408D-A27A-D00799117DF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:COUNTRY}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>uk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BD89044F-8F84-4579-9463-3CD505283EF9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>price</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching PriceRunner...</string>
				<key>script</key>
				<string>/usr/bin/python filter.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search PriceRunner for "{query}"</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57BA1516-04D8-43C9-A7CA-929429209189</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.pricerunner.dk{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>63BCE9EA-6193-4ADE-8C0C-B38D2FBB80A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:COUNTRY}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>dk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E013FBEE-2A1E-42EC-A184-BBA2AD5E16E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>AF06F70B-1D38-4A57-B515-482BC3337549</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.pricerunner.se{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBBB65E8-9A1F-449F-BC1F-E06B61A40722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:COUNTRY}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>se</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>CE0B3228-6B51-4547-A345-BB841D284921</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CB1C4AE6-40B0-48A3-8811-40B16DCE5828</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>57BA1516-04D8-43C9-A7CA-929429209189</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>63BCE9EA-6193-4ADE-8C0C-B38D2FBB80A6</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>AF06F70B-1D38-4A57-B515-482BC3337549</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>BD89044F-8F84-4579-9463-3CD505283EF9</key>
		<dict>
			<key>note</key>
			<string>United Kingdom</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>CB1C4AE6-40B0-48A3-8811-40B16DCE5828</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>CD3B5EB1-D80B-408D-A27A-D00799117DF3</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>CE0B3228-6B51-4547-A345-BB841D284921</key>
		<dict>
			<key>note</key>
			<string>Sweden</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>DBBB65E8-9A1F-449F-BC1F-E06B61A40722</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>E013FBEE-2A1E-42EC-A184-BBA2AD5E16E5</key>
		<dict>
			<key>note</key>
			<string>Denmark</string>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>COUNTRY</key>
		<string>dk</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>COUNTRY</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://sniarn.dk</string>
</dict>
</plist>
